/* Fonts from my drive */

/* @font-face {
    font-family: 'kaushan_scriptregular';
    src: url('fonts/kaushanscript-regular-webfont.woff2') format('woff2'),
         url('fonts/kaushanscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ostrich_sansmedium';
    src: url('fonts/ostrich-regular-webfont.woff2') format('woff2'),
         url('fonts/ostrich-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

} */


/* General setup */

/* Fonts from my drive */

html {
  font-size: 10px;
  margin: 0;
  font-family: sans-serif;
}

/* Fonts from google */

/* html {
  font-size: 10px;
  margin: 0;
  font-family: "Intern", sans-serif;
} */

body {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

/* Typography */

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

/* Fonts from my drive */

h1,h2{
  font-family: "kaushan_scriptregular", serif;
  letter-spacing: 0.2rem;
}


p {
  font-size: 1.4rem;
  line-height: 1.6;
  word-spacing: 0.6rem;
  letter-spacing: 0.1rem;
  font-family: "kaushan_scriptregular", serif;
}

/* Fonts from google */

/* h1,h2{
  font-family: "Bricolage Grotesque", serif;
  font-weight: 600;
  letter-spacing: 0.2rem;
}

p {
  font-size: 1.4rem;
  line-height: 1.6;
  word-spacing: 0.6rem;
  letter-spacing: 0.1rem;
  font-family: "Intern", serif;
} */